/*.thumb {
    position: relative;
    
}
.thumb img {
    width: 100%;
    padding: 0;
}
.thumb > div {
    background-color: rgba(0,0,0,1);
    opacity: 0;
    position: absolute;
     max-width:500px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
    text-shadow: #000 1px 1px 0;
    color: #ccc;
}
.thumb:hover > div {
    display: block;
    opacity: 1.0;
}
.thumb > div div {
   width:100%;
   height:100%;
   padding:1%;
   position:relative;
}

.thumb {
    position: relative;
    width: 500px;
    height: 335px;
    overflow: hidden;
}
.thumb img {
    width: 100%;
    padding: 0;
}
.thumb > div {
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
    text-shadow: #000 1px 1px 0;
    color: #ccc;
	margin-top:40px;
	height:270px;
}
.thumb:hover > div {
    display: block;
    opacity: 1.0;
	margin-top:40px;
	height:270px;
}
.thumb > div div {
    padding: -40px -40px;
	
}
*/



