::-moz-selection{ background: #E7E4ED; color:#A69A52;}
::selection { background:#E7E4ED; color:#A69A52; }

footer{width:90%; margin:0 auto; background-size:contain; height:auto; clear:both;}
.media{max-width:750px; float:left; margin:1%;  width:75px; height:75px;}
#mediadiv{width:60%; margin:0 auto;}
#twitter{background-image:url(../img/twitterb.png); background-size:cover;}
#face{background-image:url(../img/facebookb.png); background-size:cover; }
#link{background-image:url(../img/linkb.png); background-size:cover; }
#twitter:hover{background-image:url(../img/twittera.png);background-size:cover; }
#face:hover{background-image:url(../img/facebooka.png); background-size:cover;}
#link:hover{background-image:url(../img/linka.png); background-size:cover; }

html{}
body{margin:0;}
main, footer{margin-bottom:5%;}
strong{font-weight:bold;}
h2{
	font-size:300%;
	font-weight:bold;
	color:#220c3d;
	margin-bottom:2%;
	font-family: 'Raleway', sans-serif;
	
}
li{list-style:disc;}

p{
	line-height:1.5em;
  margin-bottom:2%;
	
}
#ports p, #ports ul, #ports li{color:black;} 
#ports img{max-width:100%;}
#pics div{background:#425e76;}
#pics img{display:block; margin-left:auto; margin-right:auto;}
#theatre div{background:black; }
#artresume p, #artresume li{
  width:100%;
  line-height:1.5em;
}
#artresume p{margin-bottom:2%;}
header{}

.snapshot{
	display:inline-block;
	 max-width:500px;
position:absolute;
	 width:100%;
}
.snapshot:hover{
  opacity:0;
}
.portshow{opacity:1;}
.porthide{diplay:block; background:black; opacity:1; padding:5%; height:450px;}
#pics{color:white; margin-bottom:7%; margin-top:7%;}
#theatre{color:white; margin-bottom:7%;}
#cestas{color:white; margin-bottom:7%;}
section{
	width:100%;
	margin:1%;
	display:inline-block;
}
ol{margin-bottom:10px;}

li{list-style:inside; line-height:1.2em; margin:5px 0;}
.home{
  height:auto;
	margin:0 auto;
	width:30%;
	
}
#home{
	margin-top:10%;
}
#logo{
	width:100%;
	max-width:700px;
	display:block;
	vertical-align:text-bottom;
	margin-left: auto;
 	margin-right: auto;
}
p, li{
	font-family: 'Droid Sans', sans-serif;
}
#bgnav{
	background-image:url(../img/background1.png);
	background-repeat:repeat;
	background-attachment:fixed;
	margin:2% 0;
}
nav{
	
  width: 100%;
  text-align: justify;
  font-size: 100%;
  font-size: 12px\9; /* IE6-9 only hack */
  
}
nav li{
  padding:1%;
  display: inline-block;

  margin-top:2%;
  zoom: 1;
  *display: inline;
}

nav:after{
  content: "";
  width: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
a{
	color:#A79B53;
	font-weight:bold;
	text-decoration:none;
	align: justify;
}
a:hover{
	cursor:pointer;
	text-decoration:underline;
}
#symbol{	
	margin:1%;
	width:3%;
	max-width:87px;
	vertical-align:middle;
}

h3{
  font-size:28px;
	font-weight:100;
	color:#A79B53;
	margin-bottom:2%;
	font-family: 'Raleway', sans-serif;
}
h6{
  font-weight:200;
  font-family: 'Raleway', sans-serif;
  letter-spacing:2px;
  font-size:18px;
  color:#A79B53;
  opacity:.7;
  width:80%;
  margin:0 auto;
  margin-bottom:2%;
}
.portfloat{display:inline-block;}
#moreportfolio{clear:both; display:block;}
#portdiv{display:block; width:100%;}
@media screen and (min-width:1080px){
  /* iPad, Kindle Fire landscape and Desktop */
  									
	
}
@media screen and (min-width:769px) and (max-width: 1080px) {
  /* iPad, Kindle Fire landscape and Desktop */
 						
	
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  /* iPad portrait */

	
}
@media screen and (min-width:481px) and (max-width: 600px) {
  /* Kindle Fire portratit */
 
}

@media screen and (max-width: 480px) {
  /*  mobile landscape */

}
